<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<link href="css/sb-admin.css" rel="stylesheet">
<link href="css/sb-admin.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Procesos</title>
</head>
<body>
<br>
<a class="btn btn-primary" href="/materias" role="button">Materias </a><br><br>

<a class="btn btn-primary" href="/escuelas" role="button">Escuelas</a><br><br>
</body>
</html>