<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Include Bootstrap Datepicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/sb-admin.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <title>Agregar expediente</title>
</head>
<body id="page-top" class="back">

    <div class="container-fluid">


        <div class="card mb-4">
            <div class="card-body">
                <div class="col-12 user-img text-center form-group">
                    <img src="img/user2.png"/>
                    <h3>Agregar expediente</h3>
               

                <form method="post" th:action="@{/registerExpedient}" th:object="${expedient}">
                    <table cellpadding="10">
                        <tr>
                            <td><label>Nombre: </label></td>
                            <td><input type="text" id="name" class="form-control" onfocus="this.value=''"
                                       th:field="*{name}">
                                <span th:errors="*{name}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>
                            <td><label>Apellido: </label></td>
                            <td><input type="text" id="surname" class="form-control" onfocus="this.value=''"
                                       th:field="*{surname}">
                                <span th:errors="*{name}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>
                            <td><label>Carnet: </label></td>
                            <td><input type="number" id="carnet" class="form-control" onfocus="this.value=''"
                                       th:field="*{carnet}">
                                <span th:errors="*{carnet}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>
                            <td><label>Direccion: </label></td>
                            <td><input type="text" id="address" class="form-control" onfocus="this.value=''"
                                       th:field="*{address}">
                                <span th:errors="*{address}" style="color:#DE0000"></span></td>
                        </tr>

                        <tr>
                            <td><label>Telefono de casa: </label></td>
                            <td><input type="number" id="home_phone" class="form-control" onfocus="this.value=''"
                                       th:field="*{home_phone}">
                                <span th:errors="*{home_phone}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>
                            <td><label>Telefono movil: </label></td>
                            <td><input type="number" id="mobile_phone" class="form-control" onfocus="this.value=''"
                                       th:field="*{mobile_phone}">
                                <span th:errors="*{mobile_phone}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>
                            <td><label>Nombre de mama: </label></td>
                            <td><input type="text" id="mothers_name" class="form-control" onfocus="this.value=''"
                                       th:field="*{mothers_name}">
                                <span th:errors="*{mothers_name}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>
                            <td><label>Nombre de papa: </label></td>
                            <td><input type="text" id="fathers_name" class="form-control" onfocus="this.value=''"
                                       th:field="*{fathers_name}">
                                <span th:errors="*{fathers_name}" style="color:#DE0000"></span></td>
                        </tr>
                        <tr>

                            <td><label>Departamento del instituto:</label></td>
                            <td><select
                                id="municipality"
                                class="form-control"
                                onchange="filterSchools()"
                            >
                                <option th:each="municipality : ${municipalities}"
                                        th:value=${municipality.municipality_id}
                                        th:text="${municipality.name}">
                                </option>
                            </select></td>
                        </tr>

                        <tr>
                            <td><label>Escuela o instituto: </label></td>
                            <td><select
                                class="form-control" th:field="*{school_fk}"
                                id="school"
                            >

                                <option
                                    id="school-options"
                                    th:each="school : ${schools}"
                                    th:value=${school.id}
                                    th:text="${school.name}"
                                    th:data-municipality-id="${school.getMunicipality_fk()}"
                                >
                                </option>
                                <!-- th:if="${school.municipality_fk} == 3-->
                            </select> <span th:errors="*{school_fk}" style="color:#DE0000"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Fecha de Nacimiento:</label></td>
                            <td><input type="text" id="birth_date" class="form-control" th:field="*{birth_date}">
                                <span th:errors="*{birth_date}" style="color:#DE0000"></span></td>
                           
                        

                        </tr>


                        <tr>
                            <td><input type="submit" class="btn btn-primary btn-block" value="Enviar"/></td>

                        </tr>
                    </table>
                </form>
                <a href="/userExpedient">Regresar</a>
            </div>
        </div>
    </div>
    </div>

    <script defer>
        function filterSchools() {
            console.log('called');
            const options = document.querySelectorAll('#school-options');
            const municipalitySelect = document.querySelector('#municipality');
            const school = document.querySelector('#school');
            const selectedMunicipality = municipalitySelect.selectedOptions[0].value;

            school.value = null;

            options.forEach(el => {
                console.log(typeof el.dataset.municipalityId, typeof selectedMunicipality);
                if (el.dataset.municipalityId !== selectedMunicipality) {
                    el.style.display = 'none';
                } else {
                    el.style.display = '';
                }
            })
        }
    </script>
     <script type="text/javascript">
                                $(function () {
                                    $('#birth_date').datepicker({
                                        format: 'dd/mm/yyyy'
                                    });
                                    $(".selector").datepicker({
                                        autoSize: true
                                    });

                                });
                            </script>
                            
</body>

</html>
