<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Include Bootstrap Datepicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"/>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>


    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/sb-admin.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <title>Agregar materia cursada</title>
</head>
<body id="page-top" class="back">

    <div class="container-fluid">


        <div class="card mb-4">
            <div class="card-body">
                <div class="col-12 user-img text-center form-group">
                    <img src="img/user2.png"/>
                     <h1 th:text=" *{expedient.get().getName()}">
                
            
        </h1> <h1 th:text=" *{expedient.get().getSurname()}"></h1>
                </div>


                <form method="post" th:action="@{/addSubject}" th:object="${s_expedient}">
                    <table cellpadding="10">
                        <tr>
                            <td><label>Materia: </label></td>
                            <td><select
                                class="form-control" th:field="*{subject_id_fk}"
                                id="subject"
                            >

                                <option
                                    id="subject-options"
                                    th:each="subject : ${subjects}"
                                    th:value=${subejct.id}
                                    th:text="${subject.name}"
                                    th:data-municipality-id="${school.getSubject_id_fk()}"
                                >
                                </option>
                                <!-- th:if="${school.municipality_fk} == 3-->
                            </select> <span th:errors="*{subject_id_fk}" style="color:#DE0000"></span>
                            </td>
                        </tr>
                        
                         <tr>
                            <td><label>Año:</label></td>
                            <td><input type="text" id="year" class="form-control" th:field="*{year}">
                                <span th:errors="*{year}" style="color:#DE0000"></span></td>
                           
                        <tr>
                            <td><label>Ciclo: </label></td>
                            <td><input type="number" id="ciclo" class="form-control" onfocus="this.value=''"
                                       th:field="*{ciclo}">
                                <span th:errors="*{ciclo}" style="color:#DE0000"></span></td>
                        </tr>

                        <tr>
                            <td><input type="submit" class="btn btn-primary btn-block" value="Guardar"/></td>

                        </tr>
                    </table>
                </form>
                <a href="/userExpedient">Regresar</a>
            </div>
        </div>
    </div>

    <script defer>
        function filterSchools() {
            console.log('called');
            const options = document.querySelectorAll('#school-options');
            const municipalitySelect = document.querySelector('#municipality');
            const school = document.querySelector('#school');
            const selectedMunicipality = municipalitySelect.selectedOptions[0].value;

            school.value = null;

            options.forEach(el => {
                console.log(typeof el.dataset.municipalityId, typeof selectedMunicipality);
                if (el.dataset.municipalityId !== selectedMunicipality) {
                    el.style.display = 'none';
                } else {
                    el.style.display = '';
                }
            })
        }
    </script>
     <script type="text/javascript">
                                $(function () {
                                    $('#birth_date').datepicker({
                                        format: 'dd/mm/yyyy'
                                    });
                                    $(".selector").datepicker({
                                        autoSize: true
                                    });

                                });
                            </script>
                            
</body>

</html>