<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/sb-admin.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Materias cursadas</title>
</head>
<body id="page-top" class="back">
    <!--/*@thymesVar id="subjects" type="com.uca.capas.administracion.domain.Subject"*/-->
    <div class="container">
        <h1 th:text=" *{expedient.get().getName()}">
                
            
        </h1> <h1 th:text=" *{expedient.get().getSurname()}">
                
            
        </h1>
        <button
            class="btn btn-primary my-4"
            th:onclick="addSubject([[${expedient.get().getId()}]])"
        >
         <i class="fas fa-plus"></i>
            Agregar Materia
        </button>

        <table class="table">
            <thead>
            <tr>
                <th>
                    Accion
                </th>
                <th>
                    Materia
                </th>
                <th>
                    Año
                </th>
                <th>
                    Ciclo
                </th>
                <th>Nota</th>
                
                <th>Resultado</th>
            </tr>
            </thead>
            <tbody>
            <tr
                th:each="subjectexpedient: ${subjectexpedients}"
            >
                <td
                >
                 <button
                        class="btn btn-primary"
                        title="Editar Materia"
                        th:onclick="editSubject([[${subjectexpedient.getId()}]])"
                        type="button"
                    >
                        <i class="fas fa-edit"></i>
                    </button>
            
                   
                </td>
                <td
                   th:text="*{subjects.get(subjectexpedient.getSubject_id_fk()-1).getDescription()}"
                ></td>
                <td
                    th:text="*{subjectexpedient.getYear()}"
                ></td>
                <td
                   th:text="*{subjectexpedient.getSemester()}"
                ></td>
                <td
                   th:text="*{subjectexpedient.getScore()}"
                ></td>
                <td
                  th:text="*{subjectexpedient.getResult()}" 
                ></td>
                <td
                   
                ></td>
            </tr>
            </tbody>
        </table>
         <a href="/userExpedient">Regresar</a>
    </div>

    <script lang="js">
      

        function editSubject(item) {
        	window.location = `editSubject/${item}`
        }
        function addSubject(item) {
            window.location = `addNewSubject/${item}`
        }

    </script>
    
    
    
     
</body>
</html>