<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/sb-admin.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Escuelas</title>
</head>
<body id="page-top" class="back">
    <!--/*@thymesVar id="subjects" type="com.uca.capas.administracion.domain.Subject"*/-->
    <div class="container">
        <h1>
            Materias
        </h1>

        <button
            class="btn btn-primary my-4"
            onclick="addSubject()"
        >
            <i class="fas fa-plus"></i>
            Agregar Materia
        </button>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Accion
                </th>
                <th>
                    Codigo
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Estado
                </th>
            </tr>
            </thead>
            <tbody>
            <tr
                th:each="subject: ${subjectsList}"
            >
                <td
                >
                    <button
                        class="btn btn-primary"
                        title="Editar"
                        th:onclick="getDetails([[${subject.getId()}]])"
                        type="button"
                    >
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
                <td
                    th:text="*{subject.getCode()}"
                ></td>
                <td
                    th:text="*{subject.getDescription()}"
                ></td>
                <td
                    th:text="*{subject.getStatus() ? 'Activa' : 'Inactiva'}"
                ></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script lang="js">
        function getDetails(item) {
            window.location = `materias/${item}`
        }

        function addSubject() {
            window.location = `materias/add`
        }

    </script>
</body>
</html>